paths:
  dataset-root: "/Volumes/Code assets/dataset"
  checkpoint-dir: output/checkpoints
training:
  batch-size: 2
  max-length: 64
  model-name: xlm-roberta-base
  learning-rate: 0.0001
  epochs: 1000
  device: cpu
  embed-dim: 64
  validation-split: 0.1
  early-stopping-patience: 3
  resume-checkpoint: output/checkpoints/best_model.pt  # Décommenter pour reprendre l'entraînement
